<!DOCTYPE html>
<html lang="en">

  <body>

    <section class="page-section" id="services">
      <div class="container">
        <div class="container">
          <div class="login">
            <div class="login-triangle"></div>

            <h2 class="login-header">Log in</h2>

            <form #frmLogin="ngForm" class="login-container" (ngSubmit)="onLogin(frmLogin)">
              <p><input type="username" name="username" placeholder="username" ngModel required></p>
              <p><input type="password" name="password" placeholder="Password" ngModel required></p>

              <p><input type="submit" value="Entrar"></p>
            </form>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </section>

  </body>

</html>
